/* NOTE TO SELF: Fitbit doesn't understand listed css properties
 * i.e. #id1, #id2 { ... }
 */

#screen {
  width: 100%;
  height: 100%;
}

.screenFill {
  width: 100%;
  height: 100%;
  x: 0;
  y: 0;
}

#dateBackground {
  width: 100%;
  height: 11%;
  x: 0;
  y: 0;
  fill: white;
  opacity: 0.5;
}

/*
#tempBackground {
  cx: 100%;
  cy: 0%;
  r: 60;
  fill: white;
  opacity: 0.5;
}
*/

.header {
  font-family: Colfax-Medium;
  font-size: 30;
  fill: #333333;
  y: 9%;
}

#mainDate {
  text-length: 18;
  text-anchor: start;
  x: 1%;
}

#mainTemp {
  text-length: 8;
  text-anchor: end;
  x: 99%;
}

.mainClock {
  font-size: 75;
  font-family: Colfax-Bold;
  text-length: 4;
  fill: white;
}

#mainClockHours {
  text-anchor: end;
  x: 49%-10;
  y: 80%;
}

#mainClockColon {
  text-anchor: middle;
  x: 49%;
  y: 77%;
}

#mainClockMinutes {
  text-anchor: start;
  x: 49%+10;
  y: 80%;
}

#mainClockAmPm {
  font-size: 20;
  font-family: Colfax-Regular;
  text-length: 4;
  text-anchor: start;
  fill: white;
  x: 84%;
  y: 80%;
}

#stats {
  width: 100%;
  height: 17%;
  x: 0;
  y: 83%;
}

.icon {
  height: 35;
  width: 35;
  x: 2;
  y: 10;
}

.value {
  font-size: 25;
  font-family: Colfax-Regular;
  text-anchor: start;
  text-length: 8;
  fill: lightgrey;
  y: 100%-14;
  x: 42;
}

#steps {
  height: 100%;
  width: 31%;
  x: 0;
  y: 0;
}

#pulse {
  height: 100%;
  width: 33%;
  x: 31%;
  y: 0;
}

#battery {
  height: 100%;
  width: 36%;
  x: 64%;
  y: 0;
}

/*
#steps_percent {
  height: 100%;
  width: 0%;
  x: 0;
  y: 0;
}
#battery_percent {
  height: 100%;
  width: 0%;
  x: 0;
  y: 0;
}
*/
