#screen {
  width: 100%;
  height: 100%;
  viewport-fill: 'lightblue';
}

#noxie {
  width: 100%;
  height: 100%;
  x: 0;
  y: 0;
}

.mainClock {
  font-size: 80;
  font-family: Colfax-Bold;
  text-length: 10;
  text-anchor: middle;
  fill: white;
}

#mainClockHours {
  x: 30%;
  y: 20%;
}

#mainClockColon {
  x: 50%;
  y: 17%;
}

#mainClockMinutes {
  x: 70%;
  y: 20%;
}

#mainDate {
  font-size: 30;
  font-family: Colfax-Regular;
  text-length: 20;
  text-anchor: middle;
  fill: white;
  x: 50%;
  y: 75%;
}

#stats {
  width: 100%;
  height: 17%;
  x: 0;
  y: 83%;
}

.icon {
  width: 48;
  height: 48;
}

.value {
  font-size: 10;
  font-family: Colfax-Regular;
}

#steps {
  height: 100%;
  width: 34%;
  x: 0;
  y: 0;
}
#steps_percent {
  height: 100%;
  width: 0%;
  x: 0;
  y: 0;
}
#steps_icon {
}
#steps_value {
}

#pulse {
  height: 100%;
  width: 32%;
  x: 34%;
  y: 0;
}
#pulse_icon {
}
#pulse_value {
}

#battery {
  height: 100%;
  width: 34%;
  x: 66%
  y: 0;
}
#battery_percent {
  height: 100%;
  width: 0%;
  x: 0;
  y: 0;
}
#battery_icon {
}
#battery_value {
}
